 /****************
        Footer
  *****************/
  #footer{
    background-color: #e2e2e2;
    height: 120px;
  }
  
  .listFooter{
    width: 960px;
    margin: 0 auto;
  
  }
  
  .text4{
    display: inline-block;
    color: #5d5d5d;
    margin-top: 19px;
    padding-bottom: 4px;
    padding-right: 3px;
  }
  
  .text4 p :first-child{
    margin-left: 0px;
  }
  
  .text5{
    color: #5d5d5d;
  }
  
  .logoFooter{
    float: right;
    padding-top: 5px;
  }